* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}


.full {
    display: block;
}

.container {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 5s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

}

.outerb {
    background: #2b4865;
}

@keyframes animate {

    0%,
    100% {
        background-image: url(./assets/img1.jpg);
    }

    50% {
        background-image: url(./assets/img2.jpg);
    }
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px 10px;
    margin-top: 10px;
    z-index: 3;
    background-color: transparent;
}

.topdiva {
    width: 60%;
    justify-content: left;
    background-color: #256d85;
}

.topdivb {
    width: 40%;
    text-align: end;
    margin-right: 30px;
    background-color: black;
}


.tophead {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    padding: 7px;
    padding-left: 30px;
    background-color: #256d85;
}


.topnav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topbuts,
.button {
    border: solid black;
    background-color: black;
    border-radius: 10px;
    margin: 7px 7px;
    padding: 5px 20px;
    color: white;
}

.topbuts:hover {
    background-color: #256d85;
    border-color: white;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: black;
    text-shadow: #256d85;
}

.marg {
    margin-top: 5%;
}

.whi {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(252, 115, 124), 0 0 5px rgb(231, 38, 93);
}

.link-browse {
    color: white;
    text-decoration: none;
    text-align: center;
}

.cen {
    text-align: center;
}

/*login.html, signup.html*/
.page {
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px rgb(241, 171, 207); */
    box-shadow: 5px 5px 5px rgb(171, 228, 241);
}

.login-head {
    padding: 3%;
    text-align: center;
    max-height: 20%;
}

.links {
    color: black;
}

.head2,
.head1,
.head3 {
    padding: 5px;
    /* color: #d26c97; */
    color: #6998e9;
}

.head1 {
    font-weight: bold;
    font-size: 40px;
    color: #256d85;
    box-sizing: content-box;
}

.login-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}

.login-l {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.login-r {
    width: 50%;
    height: 100%;
    padding: 3%;
    box-sizing: border-box;
}

.log-r {
    padding-top: 15%;
}

.login-img {
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    box-sizing: border-box;
}

.form-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2% 4%;
    /* margin-left: ; */
    /* justify-content: space-between; */
    box-sizing: border-box;


}

.labels {
    /* color: #d26c97; */
    color: #6cbed2;
    font-weight: bold;
}

.login-but {
    padding: 4%;
    border: none;
    font-size: 17px;
    color: white;
}


.but-log {
    padding: 20% 50%;
    border: none;
    border-radius: 4px;
    /* background-color: #d26c97; */
    background-color: #2b4865;


}

.but-log:hover,
.login-but:hover {
    cursor: pointer;
}

.label-box {
    width: 30%;
}

.form-box {
    width: 70%;
}

.inp-box {
    padding: 4% 7%;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    /* background-color: #deafb3; */
    background-color: #afd5de;
}


/* browse.php */

.main {
    display: flex;
    flex-direction: column;
}

.browse-body {
    background-color: #75b8e5;
}

.browse-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
}

.browse-l-wrapper {
    width: 25%;
    background-color: black;
    height: 100%;
}

.browse-r-wrapper {
    width: 75%;
    /* height: 100%; */
    background-color: white;
    overflow: scroll;
}

.browse-l {
    width: 20%;
    height: 85%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ffffff;
    color: black;
    position: fixed;
    top: 0;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-around; */
    padding: 2px 10px;
    margin: 7% 2% 0%;
    border-radius: 4px;
    z-index: 2;
}

.browse-r {
    width: 70%;
    height: 90%;
    left: 25%;
    box-sizing: border-box;
    overflow: scroll;
    position: fixed;
    top: 0;
    padding: 2px 10px;
    margin: 5% 2% 0%;
    z-index: 2;

}

.error {
    color: red;
}

.easy-ac-head {
    margin: 4%;
    /* position: fixed; */
    /* padding: 30% 0 20%; */
    font-size: 120%;
    font-weight: bold;
}

.easy-ac-body {
    height: 90%;
    width: 100%;
    overflow: scroll;
}

.browse-r-body {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.tile {
    height: 20%;
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: #256d85;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(171, 224, 241);

}

.tile-img {
    height: 80%;
    width: 30%;
    padding: 4% 2%;
    margin-left: 2%;
    border-radius: 4px;
    box-sizing: border-box;
}

.tile-icon {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.tile-cont {
    width: 70%;
}

.browse-foot {
    width: 100%;
    height: 20%;
}



/* tiles */
.tile-cont {
    padding: 2% 4%;
    box-sizing: border-box;
}

.tile-head {
    font-size: 120%;
    padding: 2% 2%;
    font-weight: bold;
    color: white;
}

.tile-desc {
    color: white;
    padding: 2%;
    font-size: 80%;
}

.tile-link {
    color: white;
    padding: 2%;
    font-size: 100%;
}

.but-tile,
.but-subtile {
    padding: 2% 4%;
    border: none;
    border-radius: 2px;
    background-color: #fbfbfb;
    color: white;
    font-size: 80%;
    font-weight: bold;
    margin: 2% 0;
}

.links {
    color: #2b4865;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}


/*tile - 2 */
.top-tile {
    padding-top: 10% 2% 2%;
}

.tile-top-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tile2 {
    /* height: 70%; */
    padding: 2%;
    width: 95%;
    background-color: #256d85;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(171, 224, 241);
}

.tile2-head {
    font-size: 220%;
    padding: 0 2% 2%;
    font-weight: bold;
    color: white;
}

.subtile {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin: 20px 0; */
    margin: auto;
    box-sizing: border-box;
}


.subtile-2,
.book-tile {
    height: 80%;
    width: 45%;
    background-color: #ffffff;
    /* margin: 20px 0; */
    margin: auto;
    margin-top: 2.5%;
    box-sizing: border-box;
    border-radius: 4px;

}

.subtile-img {
    margin-top: 4%;
    padding: 2%;
    height: 40%;
    width: 80%;
    margin: auto;
}

.subtile-icon,
.booking-img {
    margin-top: 4%;
    max-height: 100%;
    width: 100%;
    border-radius: 4px;
}

.subtile-head {
    text-align: center;
    padding-top: 4%;
    padding-left: 40%;
    font-size: 120%;
    padding: 2% 2%;
    font-weight: bold;
    color: #256d85;
}

.subtile-desc,
.bookings-tile {
    color: #256d85;
    padding: 2%;
    font-size: 80%;
    width: 80%;
    margin: auto;
}

.subtile-link {
    color: #256d85;
    padding: 2%;
    font-size: 100%;
    text-align: center;
}

.but-subtile {
    background-color: #87b4c4;
    color: white;
    border-radius: 10px;
}

/* booking a hotel */
.book-form {
    /* padding: 20% 30%; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    box-sizing: border-box;

}

.form-select {
    padding: 1% 2%;
    background-color: #256d85;
    color: white;
    border-radius: 4px;
    margin: 5% 0 2%;
}

.book-submit {
    background-color: #2b4865;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    margin: 2% 0;
}


.hotels,
.dates,
.form-num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.hotel-tile {
    margin: auto;
    padding-top: 10%;
}

.date {
    margin: auto;
    padding-top: 5%;
}

.form-date {
    margin: 10px 30px 10px 0;
}

.form-num {
    padding: 5% 2% 0;
}


.minus,
.plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.num_inp {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}

.book-tile {
    width: 90%;
    height: 30%;
    padding-bottom: 3%;
}

.bookings-tile {
    padding: 4px;
    font-weight: bold;
    
}

.booking-img {
    max-height: 20%;
    max-width: 20%;

}

.bookshow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 0 10%;
}